
.home_page_2 {

  background-image: url(popcorn_2.jpg);
  color: blue;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_content {
  text-align: center;

}
