body {
  background-image: url('https://cdn.pixabay.com/photo/2018/01/03/01/17/film-3057394_1280.jpg');
}

.home_page_2{


  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
