.list-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.return_button {
  padding: 35px;
  display: flex;
  align-items: flex-end;
justify-content: center;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
