 <%= link_to lists_path do %>
  <div class= "home_page_2">
    <div class="home_content">
      <h2> Welcome to Ruperts Movie Saving App <h2>

      <h3> please click to enter <h3>
    </div>
  </div>
<% end %>
